node_modules
data/
deps/
coverage.html
lib-cov
out
test_results.md

coverage

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/node-mongoskin.iml

.idea/vcs.xml

.idea/workspace.xml
